.profile-container {
  display: flex;
}

.user-details {
  width:30%;
  padding: 0 20px 0 20px;
  flex: 1;
}

.user-details textarea {
  resize: none;
}

.orders-container {
  width:50%;
  padding: 0 20px 0 20px;
  flex: 2;
  margin-left: auto;
  margin-right: auto;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.item-image {
  width: 100px;
  height: 100px;
  padding: 5px;
}

mat-table mat-row:nth-child(even) {
  margin-top: 5px;
  background-color:#E5E5E5;
}

mat-header-cell, mat-cell, mat-table, mat-header-row, mat-row {
  border: none !important;
  outline: none;
}

.order-group {
  max-height: 500px;
  overflow-y: auto;
}

.order-group::-webkit-scrollbar {
  width: 10px;
}

.order-group::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.order-group::-webkit-scrollbar-thumb {
  background: #888;
}

.order-group::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.orders-table mat-header-cell,
.orders-table mat-cell {
  text-align: center;
}
