<div class="admin-container">
  <!-- First row -->
  <div class="card-row">
    <mat-card class="admin-card" (click)="openUsersDialog()">
      <mat-card-content class="card-content">
        Users
      </mat-card-content>
    </mat-card>

    <mat-card class="admin-card" (click)="openCategoriesDialog()">
      <mat-card-content class="card-content">
        Categories
      </mat-card-content>
    </mat-card>

    <mat-card class="admin-card" (click)="openItemsDialog()">
      <mat-card-content class="card-content">
        Items
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-row">
    <mat-card class="admin-card" (click)="openOrdersDialog()">
      <mat-card-content class="card-content">
        Orders
      </mat-card-content>
    </mat-card>

    <mat-card class="admin-card" (click)="openAddCategoryDialog()">
      <mat-card-content class="card-content">
        Add Category
      </mat-card-content>
    </mat-card>

    <mat-card class="admin-card" (click)="openAddItemDialog()">
      <mat-card-content class="card-content">
        Add an Item
      </mat-card-content>
    </mat-card>
  </div>
</div>
